select.ui-datepicker-year{
    color: black;
}
#setting-profile{
    color: greenyellow;
    font-size: 13px;
}
#setting-profile:hover{
    cursor: pointer;
    color:salmon;
}


#setting-text{
    color: #000000;
    font-size: 13px;
}
#setting-text:hover{
    cursor: pointer;
    color:tomato;
}

table{
   table-layout: fixed;
}
table th , table td{
    overflow: hidden;
}








