<br>
<div class="col-md-11">
    <ul class="nav nav-pills">
        <li><a href="#/admin_add_information">เพิ่มข่าวประชาสัมพันธ์</a></li> 
        <li><a href="#/courseAdd">เพิ่มวิชาในหลักสูตร</a></li>
        <li><a href="#/course_subject_1">เพิ่มแผนการเรียน</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                ผู้ใช้งานระบบ <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/teacher">เพิ่มอาจารย์</a></li>
                <li><a href="#/student">เพิ่มนักศึกษา</a></li>
                <li  class="active"><a href="#/parent">เพิ่มผู้ปกครอง</a></li>
                <li><a href="#/user_show">ข้อมูลผู้ใช้งานระบบ</a></li>               
            </ul>
        </li>
    </ul>
</div>

<div class="col-md-10">
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">parent :</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label "> ชื่อผู้ใช้งาน :</label>
                                <div class="col-md-5">
                                    <input type="username" class="form-control" placeholder="Enter name"ng-model="parent.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> รหัสผ่าน :</label>
                                <div class="col-md-5">
                                    <input type="password" ng-change="checkPassword()" class="form-control" placeholder="Enter password"ng-model="parent.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> ยืนยันรหัสผ่าน :</label>
                                <div class="col-md-5">
                                    <input ng-change="checkPassword()" type="password" class="form-control" placeholder="confirm password" ng-model="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> อีเมล์ :</label>
                                <div class="col-md-5">
                                    <input type="email" class="form-control" placeholder="Enter Email"ng-model="parent.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-3">

                                    <input value="Save" type="submit" class="btn btn-success"   ng-click="saveParent()">
                                    <input value="Clear" type="submit" class="btn btn-info" ng-click="clearUser()">
                                </div>
                            </div>
                    </div>
                </form>

            </div>

        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>
    </div>


</div>


