<link rel="stylesheet" href="calendar/jquery-ui.css" />
<link rel="stylesheet" href="calendar/jquery-ui-timepicker-addon.css" />
<script src="calendar/jquery-1.10.2.min.js"></script>
<script src="calendar/jquery-ui.min.js"></script>
<script src="calendar/jquery-ui-timepicker-addon.js"></script>
<script src="calendar/jquery-ui-sliderAccess.js"></script>

<div class="col-md-10" ng-app="advise" ng-controller="adviseController">
    <div id="myTabContent" class="tab-content">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-content">
                    <h4 class="list-group-item-heading">เพิ่มการให้คำปรึกษา</h4>
                    <p class="list-group-item-text">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">ลำดับ</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">นักศึกษา</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="advise.idSubject">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">วันที่-เวลา</label>
                                <div class="col-lg-10">
                                    <script type="text/javascript">
                                                        $(function () {
                                                            $("#dateInputAd").datepicker({
                                                                dateFormat: 'dd-M-yy'
                                                            });
                                                        });
                                    </script>
                                    <input type="text" class="form-control" name="dateInputAd" id="dateInputAd" value="" ng-model="advise.date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">ชื่อเรื่อง</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="advise.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">รายละเอียดการให้คำปรึกษา</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="advise.detail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-lg-2 control-label">คำอธิบาย</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="advise.description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFile" class="col-lg-2 control-label">File</label>
                                <div class="col-lg-10">
                                    <!--<input type="submit" id="input-picture" readonly="" class="form-control floating-label" placeholder="Browse...">-->
                                    <input type="file" id="input-picture"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <center>
                                    <button class="btn btn-success" ng-click="saveAd()">Save</button>
                                    <a href="#/advise"><button class="btn btn-danger">Cancle</button></a>
                                </center>
                            </div>
                        </fieldset>
                    </form>
                    </p>                                       
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">คำที่ปรึกษา</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อนักกศึกษา</th>
                        <th>วันที่</th>
                        <th>ชื่อเรื่อง</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ad in adviseshow.content">
                        <th>{{ad.id}}</th>
                        <th> </th>
                        <th>{{ad.idSubject}}</th>
                        <th>{{ad.date}}</th>
                        <th>{{ad.title}}</th>
                        <th>
                            <button class="btn" ng-click="deleteAdvise(ad)">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

