<div class="col-md-10">
    <br>
    <div id="myTabContent" class="tab-content">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-content">
                    <form class="form-horizontal">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Student : </h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="inputTeacher" class="col-lg-2 control-label">อาจารย์ที่ปรึกษา</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputTeacher" placeholder="Teacher" ng-model="account.teacher.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="account.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="account.password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-2 control-label">รหัสนักศึกษา</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" placeholder="ID Student" ng-model="account.idStudent">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-2 control-label">ชื่อ-นามสกุล</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" placeholder="Input Name" ng-model="account.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-2 control-label">วันเดือนปีเกิด</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" placeholder="Birthday" ng-model="account.bDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-2 control-label">เบอร์โทรศัพท์</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" placeholder="Input Telephone Number" ng-model="account.mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">ที่อยู่</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" id="textArea" ng-model="account.address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-click="saveStudent()">Update</button>
                                        <a href="#/student"><button class="btn btn-danger">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{student}}
    </div>
</div>
